.form {
    background-color: #c9c7c7;
    border: 2px solid #4f60df;
    border-radius: 10px;
    padding: 1em 2em;
    margin: 3em auto;
  }
  
  .width-fitContent {
    width: fit-content;
  }
  
  .formInputBody {
    margin-bottom: 1.2em;
  }
  
  .formInput {
    border: 1px solid #4f60df;
    border-radius: 10px;
    padding: 0.5em 0.8em;
    outline-color: #4f60df;
    width: 100%;
    max-width: 250px;
  }
  
  .submitButton {
    border: 1px solid #4f60df;
    background-color: #8621218f;
    color: #ffffff;
    border-radius: 10px;
    padding: 0.5em 0.8em;
    cursor: pointer;
  }
  
  .submitButton:active {
    transform: translateY(2px);
  }
  
  .error {
    color: #ff0000;
    font-size: 0.8rem;
    margin-top: 0.7em;
    margin-left: 1em;
  }
  
  .closeButton {
    font-weight: bold;
    color: #ff0000;
    font-size: 1.5rem;
    text-align: end;
    margin-right: 1em;
    cursor: pointer;
  }
  
  .commentForm {
    margin: 1em auto;
    padding: 2em 4em;
  }
  
  .commentFormTextArea {
    max-width: none;
    height: 100px;
    resize: none;
  }
  